* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  max-width: 980px;
  margin: 0 auto;
}

.table-container {
  overflow-x: auto;
  width: 100%;
  padding: 0px 4px;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

table th, table td {
  padding: 6px 13px;
  border: 1px solid rgb(211, 211, 211);
}

table td {
  text-align: left;
}

table td span {
  font-size: 13px;
  border-radius: 4px;
  background: rgb(229, 228, 228);
  padding: 3px 4px;
  white-space: nowrap;
}